In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.externals import joblib

In [2]:
lp_data = pd.read_csv("/Users/imad/Desktop/Research/lp_output_main_NEW_CHPOOL_RGB.csv", header=None)
non_lp_data = pd.read_csv("/Users/imad/Desktop/Research/nonlp_output_main_NEW_CHPOOL_RGB.csv", header=None)
data = np.vstack((lp_data, non_lp_data))

In [3]:
lp_data.shape

(441153, 985)

In [4]:
non_lp_data.shape

(519599, 985)

In [5]:
data.shape

(960752, 985)

In [6]:
lp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441153 entries, 0 to 441152
Columns: 985 entries, 0.0 to 1.0.97
dtypes: float64(985)
memory usage: 3.2 GB

In [7]:
non_lp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519599 entries, 0 to 519598
Columns: 985 entries, 0.0 to 0.0.798
dtypes: float64(985)
memory usage: 3.8 GB

In [8]:
lp_data.head()

,0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,120.0.6,133.0.3,35.0.1,119.0.1,148.0.5,15.0.1,110.0,147.0.3,0.0.548,1.0.97
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,120.0,133.0,35.0,119.0,148.0,15.0,119.0,147.0,4.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,120.0,138.0,35.0,119.0,148.0,9.0,121.0,149.0,6.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,119.0,148.0,15.0,121.0,149.0,6.0,123.0,145.0,16.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,119.0,148.0,15.0,123.0,149.0,16.0,113.0,126.0,24.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,119.0,148.0,9.0,123.0,149.0,24.0,137.0,141.0,65.0,1.0

In [9]:
lp_data.tail()

,0.0,0.0.1,0.0.2,0.0.3,0.0.4,0.0.5,0.0.6,0.0.7,0.0.8,0.0.9,...,120.0.6,133.0.3,35.0.1,119.0.1,148.0.5,15.0.1,110.0,147.0.3,0.0.548,1.0.97
441148,2.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,...,33.0,41.0,90.0,34.0,43.0,85.0,12.0,36.0,54.0,1.0
441149,2.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,...,34.0,40.0,90.0,27.0,43.0,63.0,10.0,33.0,55.0,1.0
441150,2.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,...,34.0,40.0,90.0,27.0,43.0,55.0,13.0,34.0,61.0,1.0
441151,2.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,...,34.0,43.0,85.0,13.0,36.0,61.0,16.0,37.0,68.0,1.0
441152,4.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,...,27.0,43.0,63.0,16.0,37.0,68.0,14.0,35.0,67.0,1.0

In [10]:
x_data = data[:, :984]
y_data = data[:, 984:]

x_data.shape, y_data.shape

((960752, 984), (960752, 1))

In [11]:
#y_data[:150541] = 1

In [12]:
np.unique(y_data, return_counts=True)

(array([0., 1.]), array([519599, 441153]))

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, random_state = 62)

In [14]:
ss = StandardScaler(with_mean = True, with_std=True)

In [15]:
ss.fit(X_train)
X_train_std = ss.transform(X_train)
X_test_std = ss.transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
model = RandomForestClassifier(n_estimators=100, max_depth=50, class_weight='balanced_subsample', random_state=62)

In [18]:
model.fit(X_train_std, y_train.ravel())

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
            criterion='gini', max_depth=50, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=None, oob_score=False,
            random_state=62, verbose=0, warm_start=False)

In [19]:
y_pred_rf = model.predict(X_test_std)

In [20]:
acc_rf = accuracy_score(y_test, y_pred_rf)

In [21]:
print(acc_rf)

0.9969149166486252

In [22]:
confusion_matrix(y_test, y_pred_rf)

array([[129139,    696],
       [    45, 110308]])

In [23]:
f1_score_rf = f1_score(y_test, y_pred_rf)

In [24]:
print(f1_score_rf)

0.9966524663778421

In [25]:
recall = recall_score(y_test, y_pred_rf)

In [26]:
print(recall)

0.9995922177013765

In [27]:
X_std = ss.transform(x_data)

In [28]:
fin_model = RandomForestClassifier(n_estimators=100, max_depth=50, class_weight='balanced_subsample', random_state=62)

In [29]:
fin_model.fit(X_std, y_data.ravel())

RandomForestClassifier(bootstrap=True, class_weight='balanced_subsample',
            criterion='gini', max_depth=50, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=None, oob_score=False,
            random_state=62, verbose=0, warm_start=False)

In [30]:
joblib.dump(model, filename="rf_NEW_CHPOOL_RGB_v1.joblib")

['rf_NEW_CHPOOL_RGB_v1.joblib']

In [31]:
joblib.dump(ss, filename="ss_NEW_CHPOOL_RGB_v1.joblib")

['ss_NEW_CHPOOL_RGB_v1.joblib']